<html th:replace="~{layout.html :: layout(~{::title}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><th:block th:text="${sketch.name.value}">Recipe</th:block> - Sketchbook</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="body">
<div class="content" >

    <div class="nav">
        <a href="home.html" th:href="@{/}">Sketchbook</a>
        <span> &gt; </span>
        <a href="sketch.html" th:href="@{/{sketchId}(sketchId=${sketch.id})}" th:text="${sketch.name.value}">Recipe</a>
    </div>


    <form method="post">
        <div class="form-row">
            <div class="form-input-large" th:class="${sketch.name.validity.name() == 'VALID'} ? 'form-input-large' : 'form-input-active form-input-large'">
                <input name="name" type="text" th:value="${sketch.name.value}" value="Recipe" />
                <th:block th:with="sketchName=${sketch.name}">
                    <div class="form-input-message" th:replace="sketchName.html :: message"></div>
                </th:block>
            </div>
        </div>
        <div class="form-row">
            <textarea name="content" rows="15" th:text="${sketch.content}"></textarea>
        </div>
        <div class="form-row-action">
            <button form="delete" name="delete" type="button" onclick="del(this)">Delete</button>
            <button name="save" type="submit">Save</button>
        </div>
    </form>

    <form method="post" id="delete">
        <input type="hidden" name="delete" />
    </form>


    <script>
        function del(btn) {
            if (confirm('Are you sure?')) {
                btn.form.submit();
            }
        }
    </script>

</div>
</body>
</html>